<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../polymer/polymer.html">

<!--
Polymer Loading indicator circle bounce element.

Example:
    ##### Basic usage, hidden by default
    <loading-indicator></loading-indicator>
    ##### Show the indicator
    <loading-indicator active></loading-indicator>
    ##### Move the indicator to the right by 50px
    <loading-indicator left-offset="50"></loading-indicator>

### Styling

The following custom properties and mixins are available for styling:

Custom property | Description | Default
----------------|-------------|----------
`--spinner-wrapper-default` | Mixin applied to the spinner when not active | `{}`
`--spinner-wrapper-active` | Mixin applied to the spinner when the spinner is shown | `{}`
`--first-bounce` | Mixin applied to the first circle | `{}`
`--second-bounce` | Mixin applied to the second circle | `{}`

@element loading-indicator

@demo demo/index.html
@hero hero.svg
-->

<dom-module id="loading-indicator">
    <template>
        <style>
            :host {
                display: block;
            }
            .spinner {
                display: none;
                position: absolute;
                width: 1px;
                height: 1px;
                top: -1px;
                left: -1px;
                @apply(--spinner-wrapper-default);
            }

            .spinner.active {
                display: block;
                position: fixed;
                z-index: 1050;
                width: 100px;
                height: 100px;
                top: 50%;
                left: 50%;
                margin-top: -50px;
                @apply(--spinner-wrapper-active);
            }

            .loading-indicator1, .loading-indicator2 {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                opacity: 0.6;
                position: absolute;
                top: 0;
                left: 0;
                -webkit-animation: bounce 2.0s infinite ease-in-out;
                animation: bounce 2.0s infinite ease-in-out;
            }

            .loading-indicator1 {
                @apply(--first-bounce); 
            }

            .loading-indicator2 {
                -webkit-animation-delay: -1.0s;
                animation-delay: -1.0s;
                @apply(--second-bounce);
            }

            @-webkit-keyframes bounce {
                0%, 100% {
                    -webkit-transform: scale(0.0)
                }
                50% {
                    -webkit-transform: scale(1.0)
                }
            }

            @keyframes bounce {
                0%, 100% {
                    transform: scale(0.0);
                    -webkit-transform: scale(0.0);
                }
                50% {
                    transform: scale(1.0);
                    -webkit-transform: scale(1.0);
                }
            }
        </style>

        <div class="spinner">
            <div class="loading-indicator1"></div>
            <div class="loading-indicator2"></div>
        </div>
    </template>

    <script>
        Polymer({
            is: 'loading-indicator',
            properties: {
                active: {
                    type: Boolean,
                    value: false,
                    observer: '_toggleSpinner'
                },
                leftOffset: {
                    type: Number,
                    value: 0,
                    observer: '_setleftOffset'
                }
            },
            _toggleSpinner: function() {
                if (this.active) {
                    this.$$('.spinner').classList.add('active');
                } else {
                    this.$$('.spinner').classList.remove('active');
                }
            },
            _setleftOffset: function() {
                this.$$('.spinner').style.marginLeft = this.leftOffset + 'px';
            }
        });
    </script>
</dom-module>
